In [76]:
#Import dependencies
import pandas as pd

In [77]:
#Read csv
file = 'astronauts.csv'
astro_df = pd.read_csv(file)
astro_df

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
7,Scott D. Altman,1995.0,15.0,Retired,8/15/1959,"Lincoln, IL",Male,University of Illinois; US Naval Postgraduate ...,Aeronautical & Astronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),4,1236,0,0.0,"STS-90 (Columbia), STS-106 (Atlantis), STS-109...",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
9,Clayton C. Anderson,1998.0,17.0,Retired,2/23/1959,"Omaha, NE",Male,Hastings College; Iowa State University,Physics,Aerospace Engineering,NaN,NaN,2,4005,6,38.0,"STS-117/120 (Atlantis/Discovery), STS-131 (Dis...",NaN,NaN
10,Michael P. Anderson,1995.0,15.0,Deceased,12/25/1959,"Plattsburgh, NY",Male,University of Washington; Creighton University,Physics & Astronomy,Physics,Lieutenant Colonel,US Air Force,2,594,0,0.0,"STS-89 (Endeavor), STS-107 (Columbia)",2/1/2003,STS-107 (Columbia)
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
13,Lee J. Archambault,1998.0,17.0,Retired,8/25/1960,"Oak Park, IL",Male,University of Illinois-Urbana,Aeronautical & Astronautical Engineering,Aeronautical & Astronautical Engineering,Colonel,US Air Force,2,639,0,0.0,"STS-117 (Atlantis), STS-119 (Discovery)",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
16,Jeffrey S. Ashby,1995.0,15.0,Retired,6/1/1954,"Dallas, TX",Male,University of Idaho; University of Tennessee,Mechanical Engineering,Aviation Systems,Captain,US Navy (Retired),3,655,0,0.0,"STS-93 (Columbia), STS-100 (Endeavor), STS-112...",NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
18,James P. Bagian,1980.0,9.0,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,4/16/1959,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
22,Daniel T. Barry,1992.0,14.0,Retired,12/30/1953,"Norwalk, CT",Male,Cornell University; Princeton University; Univ...,Electrical Engineering,Electrical Engineering; Computer Science; Medi...,NaN,NaN,3,733,4,26.0,"STS-72 (Endeavor), STS-96 (Discovery), STS-105...",NaN,NaN
23,John-David F. Bartoe,NaN,NaN,Retired,11/17/1944,"Abington, PA",Male,Lehigh University; Georgetown University,Physics,Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,7/28/1970,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
28,Michael J. Bloomfield,1995.0,15.0,Retired,3/16/1959,"Flint, MI",Male,US Air Force Academy; Old Dominion University,Engineering Mechanics,Engineering Management,Colonel,US Air Force (Retired),3,779,0,0.0,"STS-86 (Atlantis), STS-97 (Endeavor), STS-110 ...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,Charles Lacy Veach,1984.0,10.0,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
329,James S. Voss,1987.0,12.0,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
331,Rex J. Walheim,1996.0,16.0,Active,10/10/1962,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaN,NaN
332,Charles D. Walker,NaN,NaN,Retired,8/29/1948,"Bedford, IN",Male,Purdue University,Aeronautical & Astronautical Engineering,NaN,NaN,NaN,3,477,0,0.0,"STS 41-D (Discovery), STS 51-D (Discovery), ST...",NaN,NaN
333,David M. Walker,1978.0,8.0,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
336,Taylor G. Wang,NaN,NaN,Retired,6/16/1940,"Jiangxi, China",Male,University of California at Los Angeles,Physics,Physics,NaN,NaN,1,168,0,0.0,STS 51-B (Challenger),NaN,NaN
337,Mary E. Weber,1992.0,14.0,Retired,8/24/1962,"Cleveland, OH",Female,Purdue University; University of California-Be...,Chemical Engineering,Physical Chemistry,NaN,NaN,2,450,0,0.0,"STS-70 (Discovery), STS-101 (Atlantis)",NaN,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,5/5/1960,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaN,NaN
341,Edward H. White II,1962.0,2.0,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
343,Terrence W. Wilcutt,1990.0,13.0,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978.0,8.0,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

In [78]:
#Remove all years greater than 1991
astro_df = astro_df[astro_df['Year'] <= 1991]
astro_df

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987.0,12.0,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967.0,6.0,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
8,William A. Anders,1963.0,3.0,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
12,Jerome Apt III,1985.0,11.0,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
14,Neil A. Armstrong,1962.0,2.0,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
18,James P. Bagian,1980.0,9.0,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985.0,11.0,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
24,Charles A. Bassett II,1963.0,3.0,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963.0,3.0,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
27,John E. Blaha,1980.0,9.0,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
29,Guion S. Bluford Jr.,1978.0,8.0,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
30,Karol J. Bobko,1969.0,7.0,Retired,12/23/1937,"New York, NY",Male,US Air Force Academy; University of Southern C...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",NaN,NaN
32,Charles F. Bolden Jr.,1980.0,9.0,Management,8/19/1946,"Columbia, SC",Male,US Naval Academy; University of Southern Calif...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",NaN,NaN
33,Frank Borman,1962.0,2.0,Retired,3/14/1928,"Gary, IN",Male,US Military Academy; California Institute of T...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,"Gemini 7, Apollo 8",NaN,NaN
35,Kenneth D. Bowersox,1987.0,12.0,Retired,11/14/1956,"Portsmouth, VA",Male,US Naval Academy; Columbia University,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",NaN,NaN
37,Vance D. Brand,1966.0,5.0,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
38,Daniel C. Brandenstein,1978.0,8.0,Retired,1/17/1943,"Watertown, WI",Male,University of Wisconsin,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",NaN,NaN
40,Roy D. Bridges Jr.,1980.0,9.0,Retired,7/19/1943,"Atlanta, GA",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
41,Curtis L. Brown Jr.,1987.0,12.0,Retired,3/11/1956,"Elizabethtown, NC",Male,US Air Force Academy,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",NaN,NaN
43,Mark N. Brown,1984.0,10.0,Retired,11/18/1951,"Valparaiso, IN",Male,Purdue University; Air Force Institute of Tech...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,"STS 28 (Columbia), STS-48 (Discovery)",NaN,NaN
44,James F. Buchli,1978.0,8.0,Retired,6/20/1945,"New Rockford, ND",Male,US Naval Academy; University of West Florida,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,"STS 51-C (Discovery), STS 61-A (Challenger), S...",NaN,NaN
46,John S. Bull,1966.0,5.0,Deceased,9/25/1934,"Memphis, TN",Male,Rice University; Stanford University,Mechanical Engineering,Aeronautical Engineering,NaN,NaN,0,0,0,0.0,NaN,8/11/2008,NaN
48,Daniel W. Bursch,1990.0,13.0,Retired,7/25/1957,"Bristol, PA",Male,US Naval Academy; US Naval Postgraduate School,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",NaN,NaN
49,Robert D. Cabana,1985.0,11.0,Management,1/23/1949,"Minneapolis, MN",Male,US Naval Academy,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",NaN,NaN
54,Kenneth D. Cameron,1984.0,10.0,Retired,11/29/1949,"Cleveland, OH",Male,MIT; Michigan State University,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",NaN,NaN
56,M. Scott Carpenter,1959.0,1.0,Retired,5/1/1925,"Boulder, CO",Male,University of Colorado,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,Mercury 7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Michael J. Smith,1980.0,9.0,Deceased,4/30/1945,"Beaufort, NC",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Aeronautical Engineering,Captain,US Navy,1,0,0,0.0,STS 51-L (Challenger),1/28/1986,STS 51-L (Challenger)
303,Sherwood C. Spring,1980.0,9.0,Retired,9/23/1944,"Hartford, CT",Male,US Military Academy; University of Arizona,Engineering,Aerospace Engineering,Colonel,US Army (Retired),1,165,2,12.0,STS 61-B (Atlantis),NaN,NaN
304,Robert C. Springer,1980.0,9.0,Retired,5/21/1942,"St. Louis, MO",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Operations Research,Colonel,US Marine Corps (Retired),2,237,0,0.0,"STS-29 (Discovery), STS-38 (Atlantis)",NaN,NaN
305,Thomas P. Stafford,1962.0,2.0,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN
307,Robert L. Stewart,1978.0,8.0,Retired,8/13/1942,"Washington, DC",Male,University of Southern Mississippi; University...,Mathematics,Aerospace Engineering,Brigadier General,US Army (Retired),2,289,2,12.0,"STS 41-B (Challenger), STS 51-J (Atlantis)",NaN,NaN
310,Kathryn D. Sullivan,1978.0,8.0,Retired,10/3/1951,"Patterson, NJ",Female,University of California-Santa Cruz; Dalhousie...,Earth Sciences,Earth Sciences; Geology,NaN,NaN,3,532,1,3.0,"STS 41-G (Challenger), STS-31 (Discovery), STS...",NaN,NaN
312,John L. Swigert Jr.,1966.0,5.0,Deceased,8/30/1931,"Denver, CO",Male,University of Colorado; Rensselaer Polytechnic...,Mechanical Engineering,Aerospace Science; Business Administration,NaN,NaN,1,142,0,0.0,Apollo 13,12/27/1982,NaN
315,Norman E. Thagard,1978.0,8.0,Retired,7/3/1943,"Marianna, FL",Male,Florida State University; University of Texas,Engineering Science,Engineering Science; Medicine,NaN,NaN,5,3373,0,0.0,"STS-7 (Challenger), STS 51-B (Challenger), STS...",NaN,NaN
317,Donald A. Thomas,1990.0,13.0,Retired,5/6/1955,"Cleveland, OH",Male,Case Western Reserve University; Cornell Unive...,Physics,Materials Science,NaN,NaN,4,1040,0,0.0,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",NaN,NaN
318,Stephen D. Thorne,1985.0,11.0,Deceased,2/11/1953,"Frankfurt, West Germany",Male,US Naval Academy,Engineering,NaN,Lieutenant Commander,US Navy,0,0,0,0.0,NaN,5/24/1986,NaN
319,Kathryn C. Thornton,1984.0,10.0,Retired,8/17/1952,"Montgomery, AL",Female,Auburn University; University of Virginia,Physics,Physics,NaN,NaN,4,975,3,21.0,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
320,William E. Thornton,1967.0,6.0,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,NaN,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN
321,Pierre J. Thuot,1985.0,11.0,Retired,5/19/1955,"Groton, CT",Male,US Naval Academy; University of Southern Calif...,Physics,Systems Management,Commander,US Navy,3,654,3,17.0,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",NaN,NaN
323,Richard H. Truly,1969.0,7.0,Retired,11/12/1937,"Fayette, MS",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Vice Admiral,US Navy (Retired),2,199,0,0.0,"STS-2 (Columbia), STS-8 (Challenger)",NaN,NaN
325,James D. van Hoften,1978.0,8.0,Retired,6/11/1944,"Fresno, CA",Male,University of California-Berkeley; Colorado St...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,NaN,NaN,2,338,4,22.0,"STS 41-C (Challenger), STS 51-I (Discovery)",NaN,NaN
327,Charles Lacy Veach,1984.0,10.0,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
329,James S. Voss,1987.0,12.0,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990.0,13.0,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
333,David M. Walker,1978.0,8.0,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
335,Carl E. Walz,1990.0,13.0,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
338,Paul J. Weitz,1966.0,5.0,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984.0,10.0,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
341,Edward H. White II,1962.0,2.0,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
343,Terrence W. Wilcutt,1990.0,13.0,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963.0,3.0,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978.0,8.0,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
351,Peter J. K. Wisoff,1990.0,13.0,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN

In [79]:
#Change floats to int
astro_df["Year"] = astro_df["Year"].astype(int)
astro_df["Group"] = astro_df["Group"].astype(int)

astro_df

C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
2,James C. Adamson,1984,10,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987,12,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963,3,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967,6,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
8,William A. Anders,1963,3,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
12,Jerome Apt III,1985,11,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
14,Neil A. Armstrong,1962,2,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
18,James P. Bagian,1980,9,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984,10,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985,11,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
24,Charles A. Bassett II,1963,3,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963,3,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
27,John E. Blaha,1980,9,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
29,Guion S. Bluford Jr.,1978,8,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
30,Karol J. Bobko,1969,7,Retired,12/23/1937,"New York, NY",Male,US Air Force Academy; University of Southern C...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",NaN,NaN
32,Charles F. Bolden Jr.,1980,9,Management,8/19/1946,"Columbia, SC",Male,US Naval Academy; University of Southern Calif...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",NaN,NaN
33,Frank Borman,1962,2,Retired,3/14/1928,"Gary, IN",Male,US Military Academy; California Institute of T...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,"Gemini 7, Apollo 8",NaN,NaN
35,Kenneth D. Bowersox,1987,12,Retired,11/14/1956,"Portsmouth, VA",Male,US Naval Academy; Columbia University,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",NaN,NaN
37,Vance D. Brand,1966,5,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
38,Daniel C. Brandenstein,1978,8,Retired,1/17/1943,"Watertown, WI",Male,University of Wisconsin,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",NaN,NaN
40,Roy D. Bridges Jr.,1980,9,Retired,7/19/1943,"Atlanta, GA",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
41,Curtis L. Brown Jr.,1987,12,Retired,3/11/1956,"Elizabethtown, NC",Male,US Air Force Academy,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",NaN,NaN
43,Mark N. Brown,1984,10,Retired,11/18/1951,"Valparaiso, IN",Male,Purdue University; Air Force Institute of Tech...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,"STS 28 (Columbia), STS-48 (Discovery)",NaN,NaN
44,James F. Buchli,1978,8,Retired,6/20/1945,"New Rockford, ND",Male,US Naval Academy; University of West Florida,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,"STS 51-C (Discovery), STS 61-A (Challenger), S...",NaN,NaN
46,John S. Bull,1966,5,Deceased,9/25/1934,"Memphis, TN",Male,Rice University; Stanford University,Mechanical Engineering,Aeronautical Engineering,NaN,NaN,0,0,0,0.0,NaN,8/11/2008,NaN
48,Daniel W. Bursch,1990,13,Retired,7/25/1957,"Bristol, PA",Male,US Naval Academy; US Naval Postgraduate School,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",NaN,NaN
49,Robert D. Cabana,1985,11,Management,1/23/1949,"Minneapolis, MN",Male,US Naval Academy,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",NaN,NaN
54,Kenneth D. Cameron,1984,10,Retired,11/29/1949,"Cleveland, OH",Male,MIT; Michigan State University,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",NaN,NaN
56,M. Scott Carpenter,1959,1,Retired,5/1/1925,"Boulder, CO",Male,University of Colorado,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,Mercury 7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Michael J. Smith,1980,9,Deceased,4/30/1945,"Beaufort, NC",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Aeronautical Engineering,Captain,US Navy,1,0,0,0.0,STS 51-L (Challenger),1/28/1986,STS 51-L (Challenger)
303,Sherwood C. Spring,1980,9,Retired,9/23/1944,"Hartford, CT",Male,US Military Academy; University of Arizona,Engineering,Aerospace Engineering,Colonel,US Army (Retired),1,165,2,12.0,STS 61-B (Atlantis),NaN,NaN
304,Robert C. Springer,1980,9,Retired,5/21/1942,"St. Louis, MO",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Operations Research,Colonel,US Marine Corps (Retired),2,237,0,0.0,"STS-29 (Discovery), STS-38 (Atlantis)",NaN,NaN
305,Thomas P. Stafford,1962,2,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN
307,Robert L. Stewart,1978,8,Retired,8/13/1942,"Washington, DC",Male,University of Southern Mississippi; University...,Mathematics,Aerospace Engineering,Brigadier General,US Army (Retired),2,289,2,12.0,"STS 41-B (Challenger), STS 51-J (Atlantis)",NaN,NaN
310,Kathryn D. Sullivan,1978,8,Retired,10/3/1951,"Patterson, NJ",Female,University of California-Santa Cruz; Dalhousie...,Earth Sciences,Earth Sciences; Geology,NaN,NaN,3,532,1,3.0,"STS 41-G (Challenger), STS-31 (Discovery), STS...",NaN,NaN
312,John L. Swigert Jr.,1966,5,Deceased,8/30/1931,"Denver, CO",Male,University of Colorado; Rensselaer Polytechnic...,Mechanical Engineering,Aerospace Science; Business Administration,NaN,NaN,1,142,0,0.0,Apollo 13,12/27/1982,NaN
315,Norman E. Thagard,1978,8,Retired,7/3/1943,"Marianna, FL",Male,Florida State University; University of Texas,Engineering Science,Engineering Science; Medicine,NaN,NaN,5,3373,0,0.0,"STS-7 (Challenger), STS 51-B (Challenger), STS...",NaN,NaN
317,Donald A. Thomas,1990,13,Retired,5/6/1955,"Cleveland, OH",Male,Case Western Reserve University; Cornell Unive...,Physics,Materials Science,NaN,NaN,4,1040,0,0.0,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",NaN,NaN
318,Stephen D. Thorne,1985,11,Deceased,2/11/1953,"Frankfurt, West Germany",Male,US Naval Academy,Engineering,NaN,Lieutenant Commander,US Navy,0,0,0,0.0,NaN,5/24/1986,NaN
319,Kathryn C. Thornton,1984,10,Retired,8/17/1952,"Montgomery, AL",Female,Auburn University; University of Virginia,Physics,Physics,NaN,NaN,4,975,3,21.0,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
320,William E. Thornton,1967,6,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,NaN,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN
321,Pierre J. Thuot,1985,11,Retired,5/19/1955,"Groton, CT",Male,US Naval Academy; University of Southern Calif...,Physics,Systems Management,Commander,US Navy,3,654,3,17.0,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",NaN,NaN
323,Richard H. Truly,1969,7,Retired,11/12/1937,"Fayette, MS",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Vice Admiral,US Navy (Retired),2,199,0,0.0,"STS-2 (Columbia), STS-8 (Challenger)",NaN,NaN
325,James D. van Hoften,1978,8,Retired,6/11/1944,"Fresno, CA",Male,University of California-Berkeley; Colorado St...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,NaN,NaN,2,338,4,22.0,"STS 41-C (Challenger), STS 51-I (Discovery)",NaN,NaN
327,Charles Lacy Veach,1984,10,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
329,James S. Voss,1987,12,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990,13,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
333,David M. Walker,1978,8,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
335,Carl E. Walz,1990,13,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
338,Paul J. Weitz,1966,5,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984,10,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
341,Edward H. White II,1962,2,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
343,Terrence W. Wilcutt,1990,13,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams Jr.,1963,3,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978,8,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
351,Peter J. K. Wisoff,1990,13,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990,13,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
354,Alfred M. Worden,1966,5,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962,2,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN

In [80]:
#Strip 'jr' from last name
def strip_jr(name):
    if "Jr." in name:
        result = name[:-4]
    else:
        result = name
    return (result)

astro_df['Name'] = astro_df['Name'].apply(strip_jr)
astro_df

C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
2,James C. Adamson,1984,10,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987,12,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963,3,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
5,Andrew M. Allen,1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN
6,Joseph P. Allen,1967,6,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN
8,William A. Anders,1963,3,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN
12,Jerome Apt III,1985,11,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,NaN,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN
14,Neil A. Armstrong,1962,2,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN
18,James P. Bagian,1980,9,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN
19,Ellen S. Baker,1984,10,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
20,Michael A. Baker,1985,11,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN
24,Charles A. Bassett II,1963,3,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN
25,Alan L. Bean,1963,3,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN
27,John E. Blaha,1980,9,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN
29,Guion S. Bluford,1978,8,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN
30,Karol J. Bobko,1969,7,Retired,12/23/1937,"New York, NY",Male,US Air Force Academy; University of Southern C...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",NaN,NaN
32,Charles F. Bolden,1980,9,Management,8/19/1946,"Columbia, SC",Male,US Naval Academy; University of Southern Calif...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",NaN,NaN
33,Frank Borman,1962,2,Retired,3/14/1928,"Gary, IN",Male,US Military Academy; California Institute of T...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,"Gemini 7, Apollo 8",NaN,NaN
35,Kenneth D. Bowersox,1987,12,Retired,11/14/1956,"Portsmouth, VA",Male,US Naval Academy; Columbia University,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",NaN,NaN
37,Vance D. Brand,1966,5,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN
38,Daniel C. Brandenstein,1978,8,Retired,1/17/1943,"Watertown, WI",Male,University of Wisconsin,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",NaN,NaN
40,Roy D. Bridges,1980,9,Retired,7/19/1943,"Atlanta, GA",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
41,Curtis L. Brown,1987,12,Retired,3/11/1956,"Elizabethtown, NC",Male,US Air Force Academy,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",NaN,NaN
43,Mark N. Brown,1984,10,Retired,11/18/1951,"Valparaiso, IN",Male,Purdue University; Air Force Institute of Tech...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,"STS 28 (Columbia), STS-48 (Discovery)",NaN,NaN
44,James F. Buchli,1978,8,Retired,6/20/1945,"New Rockford, ND",Male,US Naval Academy; University of West Florida,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,"STS 51-C (Discovery), STS 61-A (Challenger), S...",NaN,NaN
46,John S. Bull,1966,5,Deceased,9/25/1934,"Memphis, TN",Male,Rice University; Stanford University,Mechanical Engineering,Aeronautical Engineering,NaN,NaN,0,0,0,0.0,NaN,8/11/2008,NaN
48,Daniel W. Bursch,1990,13,Retired,7/25/1957,"Bristol, PA",Male,US Naval Academy; US Naval Postgraduate School,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",NaN,NaN
49,Robert D. Cabana,1985,11,Management,1/23/1949,"Minneapolis, MN",Male,US Naval Academy,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",NaN,NaN
54,Kenneth D. Cameron,1984,10,Retired,11/29/1949,"Cleveland, OH",Male,MIT; Michigan State University,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",NaN,NaN
56,M. Scott Carpenter,1959,1,Retired,5/1/1925,"Boulder, CO",Male,University of Colorado,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,Mercury 7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Michael J. Smith,1980,9,Deceased,4/30/1945,"Beaufort, NC",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Aeronautical Engineering,Captain,US Navy,1,0,0,0.0,STS 51-L (Challenger),1/28/1986,STS 51-L (Challenger)
303,Sherwood C. Spring,1980,9,Retired,9/23/1944,"Hartford, CT",Male,US Military Academy; University of Arizona,Engineering,Aerospace Engineering,Colonel,US Army (Retired),1,165,2,12.0,STS 61-B (Atlantis),NaN,NaN
304,Robert C. Springer,1980,9,Retired,5/21/1942,"St. Louis, MO",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Operations Research,Colonel,US Marine Corps (Retired),2,237,0,0.0,"STS-29 (Discovery), STS-38 (Atlantis)",NaN,NaN
305,Thomas P. Stafford,1962,2,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN
307,Robert L. Stewart,1978,8,Retired,8/13/1942,"Washington, DC",Male,University of Southern Mississippi; University...,Mathematics,Aerospace Engineering,Brigadier General,US Army (Retired),2,289,2,12.0,"STS 41-B (Challenger), STS 51-J (Atlantis)",NaN,NaN
310,Kathryn D. Sullivan,1978,8,Retired,10/3/1951,"Patterson, NJ",Female,University of California-Santa Cruz; Dalhousie...,Earth Sciences,Earth Sciences; Geology,NaN,NaN,3,532,1,3.0,"STS 41-G (Challenger), STS-31 (Discovery), STS...",NaN,NaN
312,John L. Swigert,1966,5,Deceased,8/30/1931,"Denver, CO",Male,University of Colorado; Rensselaer Polytechnic...,Mechanical Engineering,Aerospace Science; Business Administration,NaN,NaN,1,142,0,0.0,Apollo 13,12/27/1982,NaN
315,Norman E. Thagard,1978,8,Retired,7/3/1943,"Marianna, FL",Male,Florida State University; University of Texas,Engineering Science,Engineering Science; Medicine,NaN,NaN,5,3373,0,0.0,"STS-7 (Challenger), STS 51-B (Challenger), STS...",NaN,NaN
317,Donald A. Thomas,1990,13,Retired,5/6/1955,"Cleveland, OH",Male,Case Western Reserve University; Cornell Unive...,Physics,Materials Science,NaN,NaN,4,1040,0,0.0,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",NaN,NaN
318,Stephen D. Thorne,1985,11,Deceased,2/11/1953,"Frankfurt, West Germany",Male,US Naval Academy,Engineering,NaN,Lieutenant Commander,US Navy,0,0,0,0.0,NaN,5/24/1986,NaN
319,Kathryn C. Thornton,1984,10,Retired,8/17/1952,"Montgomery, AL",Female,Auburn University; University of Virginia,Physics,Physics,NaN,NaN,4,975,3,21.0,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
320,William E. Thornton,1967,6,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,NaN,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN
321,Pierre J. Thuot,1985,11,Retired,5/19/1955,"Groton, CT",Male,US Naval Academy; University of Southern Calif...,Physics,Systems Management,Commander,US Navy,3,654,3,17.0,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",NaN,NaN
323,Richard H. Truly,1969,7,Retired,11/12/1937,"Fayette, MS",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Vice Admiral,US Navy (Retired),2,199,0,0.0,"STS-2 (Columbia), STS-8 (Challenger)",NaN,NaN
325,James D. van Hoften,1978,8,Retired,6/11/1944,"Fresno, CA",Male,University of California-Berkeley; Colorado St...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,NaN,NaN,2,338,4,22.0,"STS 41-C (Challenger), STS 51-I (Discovery)",NaN,NaN
327,Charles Lacy Veach,1984,10,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN
329,James S. Voss,1987,12,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN
330,Janice E. Voss,1990,13,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN
333,David M. Walker,1978,8,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN
335,Carl E. Walz,1990,13,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN
338,Paul J. Weitz,1966,5,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN
339,James D. Wetherbee,1984,10,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN
341,Edward H. White II,1962,2,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1
343,Terrence W. Wilcutt,1990,13,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN
344,Clifton C. Williams,1963,3,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN
345,Donald E. Williams,1978,8,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN
351,Peter J. K. Wisoff,1990,13,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN
352,David A. Wolf,1990,13,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
354,Alfred M. Worden,1966,5,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962,2,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN

In [82]:
#Split functions
def split_first(astro_string):
    if "." in astro_string:
        if "." in astro_string.split(".")[1]:
            first_name = astro_string.split('.')[0] + "." + astro_string.split('.')[0] + "."
        else:
            first_name = astro_string.split('.')[0] + "."
    else:
        first_name = astro_string.split()[0]
    return(first_name)
        
def split_last(astro_string):
    if "." in astro_string:
        last_name = astro_string.split('.')[1]
        last_name = last_name.strip()
    else:
        last_name = astro_string.split()[1]
    return(last_name)

#Assign to new columns
astro_df['First Name'] = astro_df['Name'].apply(split_first)
astro_df['Last Name'] = astro_df['Name'].apply(split_last)


#Rename Name to Full-Name
astro_df = astro_df.rename(columns={"Name":"Full Name"})
astro_df

C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Elizabeth Jaye\acaconda\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Full Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,...,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission,First Name,Last Name
2,James C. Adamson,1984,10,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,...,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN,James C.,Adamson
3,Thomas D. Akers,1987,12,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,...,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN,Thomas D.,Akers
4,Buzz Aldrin,1963,3,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,...,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN,Buzz,Aldrin
5,Andrew M. Allen,1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,Villanova University; University of Florida,Mechanical Engineering,Business Administration,...,US Marine Corps (Retired),3,906,0,0.0,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",NaN,NaN,Andrew M.,Allen
6,Joseph P. Allen,1967,6,Retired,6/27/1937,"Crawsfordsville, IN",Male,DePauw University; Yale University,Mathematics & Physics,Physics,...,NaN,2,313,2,12.0,"ST-5 (Columbia), STS 51-A (Discovery)",NaN,NaN,Joseph P.,Allen
8,William A. Anders,1963,3,Retired,10/17/1933,Hong Kong,Male,US Naval Academy; Air Force Institute of Techn...,Nuclear Engineering,Nuclear Engineering,...,US Air Force Reserves (Retired),1,147,0,0.0,Apollo 8,NaN,NaN,William A.,Anders
12,Jerome Apt III,1985,11,Retired,4/18/1949,"Springfield, MA",Male,Harvard University; MIT,Physics,Physics,...,NaN,4,847,2,11.0,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",NaN,NaN,Jerome,Apt
14,Neil A. Armstrong,1962,2,Deceased,8/5/1930,"Wapakoneta, OH",Male,Purdue University; University of Southern Cali...,Aeronautical Engineering,Aerospace Engineering,...,NaN,2,205,1,2.0,"Gemini 8, Apollo 11",8/25/2012,NaN,Neil A.,Armstrong
18,James P. Bagian,1980,9,Retired,2/22/1952,"Philadelphia, PA",Male,Drexel University; Thomas Jefferson University,Mechanical Engineering,Medicine,...,NaN,2,337,0,0.0,"STS-29 (Discovery), STS-40 (Columbia)",NaN,NaN,James P.,Bagian
19,Ellen S. Baker,1984,10,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,...,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN,Ellen S.,Baker
20,Michael A. Baker,1985,11,Management,10/27/1953,"Memphis, TN",Male,University of Texas,Aerospace Engineering,NaN,...,US Navy (Retired),4,965,0,0.0,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",NaN,NaN,Michael A.,Baker
24,Charles A. Bassett II,1963,3,Deceased,12/30/1931,"Dayton, OH",Male,Texas Technological College,Electrical Engineering,NaN,...,US Air Force,0,0,0,0.0,NaN,2/28/1966,NaN,Charles A.,Bassett II
25,Alan L. Bean,1963,3,Retired,3/15/1932,"Wheeler, TX",Male,University of Texas,Aeronautical Engineering,NaN,...,US Navy (Retired),2,1671,3,10.0,"Apollo 12, Skylab 3",NaN,NaN,Alan L.,Bean
27,John E. Blaha,1980,9,Retired,8/26/1942,"San Antonio, TX",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautical Engineering,...,US Air Force (Retired),5,3861,0,0.0,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",NaN,NaN,John E.,Blaha
29,Guion S. Bluford,1978,8,Retired,11/22/1942,"Philadelphia, PA",Male,Pennsylvania State University; Air Force Insti...,Aerospace Engineering,Aerospace Engineering; Business Administration,...,US Air Force (Retired),4,689,0,0.0,"STS-8 (Challenger), STS 61-A (Challenger), STS...",NaN,NaN,Guion S.,Bluford
30,Karol J. Bobko,1969,7,Retired,12/23/1937,"New York, NY",Male,US Air Force Academy; University of Southern C...,NaN,Aerospace Engineering,...,US Air Force (Retired),3,386,0,0.0,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",NaN,NaN,Karol J.,Bobko
32,Charles F. Bolden,1980,9,Management,8/19/1946,"Columbia, SC",Male,US Naval Academy; University of Southern Calif...,Electrical Science,Systems Management,...,US Marine Corps (Retired),4,680,0,0.0,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",NaN,NaN,Charles F.,Bolden
33,Frank Borman,1962,2,Retired,3/14/1928,"Gary, IN",Male,US Military Academy; California Institute of T...,NaN,Aeronautical Engineering,...,US Air Force (Retired),2,477,0,0.0,"Gemini 7, Apollo 8",NaN,NaN,Frank,Borman
35,Kenneth D. Bowersox,1987,12,Retired,11/14/1956,"Portsmouth, VA",Male,US Naval Academy; Columbia University,Aerospace Engineering,Mechanical Engineering,...,US Navy (Retired),5,5078,2,13.0,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",NaN,NaN,Kenneth D.,Bowersox
37,Vance D. Brand,1966,5,Retired,5/9/1931,"Longmont, CA",Male,University of Colorado; University of Californ...,Business Management; Aeronautical Engineering,Business Administration,...,US Marine Corps Reserves,4,752,0,0.0,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",NaN,NaN,Vance D.,Brand
38,Daniel C. Brandenstein,1978,8,Retired,1/17/1943,"Watertown, WI",Male,University of Wisconsin,Mathematics & Physics,NaN,...,US Navy (Retired),4,789,0,0.0,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",NaN,NaN,Daniel C.,Brandenstein
40,Roy D. Bridges,1980,9,Retired,7/19/1943,"Atlanta, GA",Male,US Air Force Academy; Purdue University,Engineering Science,Astronautics,...,US Air Force (Retired),1,190,0,0.0,STS 51-F (Challenger),NaN,NaN,Roy D.,Bridges
41,Curtis L. Brown,1987,12,Retired,3/11/1956,"Elizabethtown, NC",Male,US Air Force Academy,Electrical Engineering,NaN,...,US Air Force (Retired),6,1383,0,0.0,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",NaN,NaN,Curtis L.,Brown
43,Mark N. Brown,1984,10,Retired,11/18/1951,"Valparaiso, IN",Male,Purdue University; Air Force Institute of Tech...,Aeronautical & Astronautical Engineering,Astronautical Engineering,...,US Air Force (Retired),2,249,0,0.0,"STS 28 (Columbia), STS-48 (Discovery)",NaN,NaN,Mark N.,Brown
44,James F. Buchli,1978,8,Retired,6/20/1945,"New Rockford, ND",Male,US Naval Academy; University of West Florida,Aeronautical Engineering,Aeronautical Engineering Systems,...,US Marine Corps (Retired),4,490,0,0.0,"STS 51-C (Discovery), STS 61-A (Challenger), S...",NaN,NaN,James F.,Buchli
46,John S. Bull,1966,5,Deceased,9/25/1934,"Memphis, TN",Male,Rice University; Stanford University,Mechanical Engineering,Aeronautical Engineering,...,NaN,0,0,0,0.0,NaN,8/11/2008,NaN,John S.,Bull
48,Daniel W. Bursch,1990,13,Retired,7/25/1957,"Bristol, PA",Male,US Naval Academy; US Naval Postgraduate School,Physics,Engineering Science,...,US Navy (Retired),4,5446,2,12.0,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",NaN,NaN,Daniel W.,Bursch
49,Robert D. Cabana,1985,11,Management,1/23/1949,"Minneapolis, MN",Male,US Naval Academy,Mathematics,NaN,...,US Marine Corps (Retired),4,910,0,0.0,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",NaN,NaN,Robert D.,Cabana
54,Kenneth D. Cameron,1984,10,Retired,11/29/1949,"Cleveland, OH",Male,MIT; Michigan State University,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,...,US Marine Corps (Retired),3,562,0,0.0,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",NaN,NaN,Kenneth D.,Cameron
56,M. Scott Carpenter,1959,1,Retired,5/1/1925,"Boulder, CO",Male,University of Colorado,Aeronautical Engineering,NaN,...,US Navy (Retired),1,4,0,0.0,Mercury 7,NaN,NaN,M.,Scott Carpenter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Michael J. Smith,1980,9,Deceased,4/30/1945,"Beaufort, NC",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Aeronautical Engineering,...,US Navy,1,0,0,0.0,STS 51-L (Challenger),1/28/1986,STS 51-L (Challenger),Michael J.,Smith
303,Sherwood C. Spring,1980,9,Retired,9/23/1944,"Hartford, CT",Male,US Military Academy; University of Arizona,Engineering,Aerospace Engineering,...,US Army (Retired),1,165,2,12.0,STS 61-B (Atlantis),NaN,NaN,Sherwood C.,Spring
304,Robert C. Springer,1980,9,Retired,5/21/1942,"St. Louis, MO",Male,US Naval Academy; US Naval Postgraduate School,Naval Sciences,Operations Research,...,US Marine Corps (Retired),2,237,0,0.0,"STS-29 (Discovery), STS-38 (Atlantis)",NaN,NaN,Robert C.,Springer
305,Thomas P. Stafford,1962,2,Retired,9/17/1930,"Weatherford, OK",Male,US Naval Academy,NaN,NaN,...,US Air Force (Retired),4,507,0,0.0,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",NaN,NaN,Thomas P.,Stafford
307,Robert L. Stewart,1978,8,Retired,8/13/1942,"Washington, DC",Male,University of Southern Mississippi; University...,Mathematics,Aerospace Engineering,...,US Army (Retired),2,289,2,12.0,"STS 41-B (Challenger), STS 51-J (Atlantis)",NaN,NaN,Robert L.,Stewart
310,Kathryn D. Sullivan,1978,8,Retired,10/3/1951,"Patterson, NJ",Female,University of California-Santa Cruz; Dalhousie...,Earth Sciences,Earth Sciences; Geology,...,NaN,3,532,1,3.0,"STS 41-G (Challenger), STS-31 (Discovery), STS...",NaN,NaN,Kathryn D.,Sullivan
312,John L. Swigert,1966,5,Deceased,8/30/1931,"Denver, CO",Male,University of Colorado; Rensselaer Polytechnic...,Mechanical Engineering,Aerospace Science; Business Administration,...,NaN,1,142,0,0.0,Apollo 13,12/27/1982,NaN,John L.,Swigert
315,Norman E. Thagard,1978,8,Retired,7/3/1943,"Marianna, FL",Male,Florida State University; University of Texas,Engineering Science,Engineering Science; Medicine,...,NaN,5,3373,0,0.0,"STS-7 (Challenger), STS 51-B (Challenger), STS...",NaN,NaN,Norman E.,Thagard
317,Donald A. Thomas,1990,13,Retired,5/6/1955,"Cleveland, OH",Male,Case Western Reserve University; Cornell Unive...,Physics,Materials Science,...,NaN,4,1040,0,0.0,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",NaN,NaN,Donald A.,Thomas
318,Stephen D. Thorne,1985,11,Deceased,2/11/1953,"Frankfurt, West Germany",Male,US Naval Academy,Engineering,NaN,...,US Navy,0,0,0,0.0,NaN,5/24/1986,NaN,Stephen D.,Thorne
319,Kathryn C. Thornton,1984,10,Retired,8/17/1952,"Montgomery, AL",Female,Auburn University; University of Virginia,Physics,Physics,...,NaN,4,975,3,21.0,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN,Kathryn C.,Thornton
320,William E. Thornton,1967,6,Retired,4/14/1929,"Faison, NC",Male,University of North Carolina,Physics,Medicine,...,NaN,2,315,0,0.0,"STS-8 (Challenger), STS 51-B (Challenger)",NaN,NaN,William E.,Thornton
321,Pierre J. Thuot,1985,11,Retired,5/19/1955,"Groton, CT",Male,US Naval Academy; University of Southern Calif...,Physics,Systems Management,...,US Navy,3,654,3,17.0,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",NaN,NaN,Pierre J.,Thuot
323,Richard H. Truly,1969,7,Retired,11/12/1937,"Fayette, MS",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,...,US Navy (Retired),2,199,0,0.0,"STS-2 (Columbia), STS-8 (Challenger)",NaN,NaN,Richard H.,Truly
325,James D. van Hoften,1978,8,Retired,6/11/1944,"Fresno, CA",Male,University of California-Berkeley; Colorado St...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,...,NaN,2,338,4,22.0,"STS 41-C (Challenger), STS 51-I (Discovery)",NaN,NaN,James D.,van Hoften
327,Charles Lacy Veach,1984,10,Deceased,9/18/1944,"Chicago, IL",Male,US Air Force Academy,Engineering Management,NaN,...,NaN,2,436,0,0.0,"STS-39 (Discovery), STS-52 (Columbia)",10/3/1995,NaN,Charles,Lacy
329,James S. Voss,1987,12,Retired,3/3/1949,"Cordova, AL",Male,Auburn University; University of Colorado,Aerospace Engineering,Aerospace Engineering Sciences,...,US Army (Retired),5,4853,4,22.0,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",NaN,NaN,James S.,Voss
330,Janice E. Voss,1990,13,Deceased,10/8/1956,"South Bend, IN",Female,Purdue University; MIT,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,...,NaN,5,1179,0,0.0,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",2/6/2012,NaN,Janice E.,Voss
333,David M. Walker,1978,8,Deceased,5/20/1944,"Columbus, GA",Male,US Naval Academy,Naval Sciences,NaN,...,US Navy (Retired),4,724,0,0.0,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",4/23/2001,NaN,David M.,Walker
335,Carl E. Walz,1990,13,Retired,9/6/1955,"Cleveland, OH",Male,Kent State University; John Carroll University,Physics,Solid State Physics,...,US Air Force,4,5533,3,19.0,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",NaN,NaN,Carl E.,Walz
338,Paul J. Weitz,1966,5,Retired,6/25/1932,"Erie, PA",Male,Pennsylvania State University; US Naval Postgr...,Aeronautical Engineering,Aeronautical Engineering,...,US Navy (Retired),2,793,1,2.0,"Skylab 2, STS-6 (Challenger)",NaN,NaN,Paul J.,Weitz
339,James D. Wetherbee,1984,10,Retired,11/27/1952,"Flushing, NY",Male,University of Notre Dame,Aerospace Engineering,NaN,...,US Navy (Retired),6,1594,0,0.0,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",NaN,NaN,James D.,Wetherbee
341,Edward H. White II,1962,2,Deceased,11/14/1930,"San Antonio, TX",Male,US Military Academy; University of Michigan,NaN,Aeronautical Engineering,...,US Air Force,2,97,1,0.5,"Gemini 4, Apollo 1",1/27/1967,Apollo 1,Edward H.,White II
343,Terrence W. Wilcutt,1990,13,Management,10/31/1949,"Russellville, KY",Male,Western Kentucky University,Mathematics,NaN,...,NaN,4,1008,0,0.0,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",NaN,NaN,Terrence W.,Wilcutt
344,Clifton C. Williams,1963,3,Deceased,9/26/1932,"Mobile, AL",Male,Auburn University,Mechanical Engineering,NaN,...,US Marine Corps,0,0,0,0.0,NaN,10/5/1967,NaN,Clifton C.,Williams
345,Donald E. Williams,1978,8,Retired,2/13/1958,"Lafayette, IN",Male,Purdue University,Mechanical Engineering,NaN,...,US Navy (Retired),2,287,0,0.0,"STS 51-D (Discovery), STS-34 (Atlantis)",NaN,NaN,Donald E.,Williams
351,Peter J. K. Wisoff,1990,13,Retired,8/16/1958,"Norfolk, VA",Male,University of Virginia; Stanford University,Physics,Applied Physics,...,NaN,4,1064,3,20.0,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",NaN,NaN,Peter J.,K
352,David A. Wolf,1990,13,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,...,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN,David A.,Wolf
354,Alfred M. Worden,1966,5,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,...,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN,Alfred M.,Worden
355,John W. Young,1962,2,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,...,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN,John W.,Young

In [83]:
#Reorder Columns
f_column = astro_df.pop('First Name')
l_column = astro_df.pop('Last Name')
mission_column = astro_df.pop('Missions')
astro_df.insert(1, f_column.name, f_column)
astro_df.insert(2, l_column.name, l_column)
astro_df.insert(3, mission_column.name, mission_column)
astro_df

,Full Name,First Name,Last Name,Missions,Year,Group,Status,Birth Date,Birth Place,Gender,...,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Death Date,Death Mission
2,James C. Adamson,James C.,Adamson,"STS-28 (Columbia), STS-43 (Atlantis)",1984,10,Retired,3/3/1946,"Warsaw, NY",Male,...,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,NaN,NaN
3,Thomas D. Akers,Thomas D.,Akers,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",1987,12,Retired,5/20/1951,"St. Louis, MO",Male,...,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,NaN,NaN
4,Buzz Aldrin,Buzz,Aldrin,"Gemini 12, Apollo 11",1963,3,Retired,1/20/1930,"Montclair, NJ",Male,...,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,NaN,NaN
5,Andrew M. Allen,Andrew M.,Allen,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,...,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,NaN,NaN
6,Joseph P. Allen,Joseph P.,Allen,"ST-5 (Columbia), STS 51-A (Discovery)",1967,6,Retired,6/27/1937,"Crawsfordsville, IN",Male,...,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,NaN,NaN
8,William A. Anders,William A.,Anders,Apollo 8,1963,3,Retired,10/17/1933,Hong Kong,Male,...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,NaN,NaN
12,Jerome Apt III,Jerome,Apt,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",1985,11,Retired,4/18/1949,"Springfield, MA",Male,...,Physics,Physics,NaN,NaN,4,847,2,11.0,NaN,NaN
14,Neil A. Armstrong,Neil A.,Armstrong,"Gemini 8, Apollo 11",1962,2,Deceased,8/5/1930,"Wapakoneta, OH",Male,...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,8/25/2012,NaN
18,James P. Bagian,James P.,Bagian,"STS-29 (Discovery), STS-40 (Columbia)",1980,9,Retired,2/22/1952,"Philadelphia, PA",Male,...,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,NaN,NaN
19,Ellen S. Baker,Ellen S.,Baker,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",1984,10,Retired,4/27/1953,"Fayettesville, NC",Female,...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,NaN,NaN
20,Michael A. Baker,Michael A.,Baker,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",1985,11,Management,10/27/1953,"Memphis, TN",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,NaN,NaN
24,Charles A. Bassett II,Charles A.,Bassett II,NaN,1963,3,Deceased,12/30/1931,"Dayton, OH",Male,...,Electrical Engineering,NaN,Captain,US Air Force,0,0,0,0.0,2/28/1966,NaN
25,Alan L. Bean,Alan L.,Bean,"Apollo 12, Skylab 3",1963,3,Retired,3/15/1932,"Wheeler, TX",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,NaN,NaN
27,John E. Blaha,John E.,Blaha,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",1980,9,Retired,8/26/1942,"San Antonio, TX",Male,...,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,NaN,NaN
29,Guion S. Bluford,Guion S.,Bluford,"STS-8 (Challenger), STS 61-A (Challenger), STS...",1978,8,Retired,11/22/1942,"Philadelphia, PA",Male,...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,NaN,NaN
30,Karol J. Bobko,Karol J.,Bobko,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",1969,7,Retired,12/23/1937,"New York, NY",Male,...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,NaN,NaN
32,Charles F. Bolden,Charles F.,Bolden,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",1980,9,Management,8/19/1946,"Columbia, SC",Male,...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,NaN,NaN
33,Frank Borman,Frank,Borman,"Gemini 7, Apollo 8",1962,2,Retired,3/14/1928,"Gary, IN",Male,...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,NaN,NaN
35,Kenneth D. Bowersox,Kenneth D.,Bowersox,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",1987,12,Retired,11/14/1956,"Portsmouth, VA",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,NaN,NaN
37,Vance D. Brand,Vance D.,Brand,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
38,Daniel C. Brandenstein,Daniel C.,Brandenstein,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",1978,8,Retired,1/17/1943,"Watertown, WI",Male,...,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,NaN,NaN
40,Roy D. Bridges,Roy D.,Bridges,STS 51-F (Challenger),1980,9,Retired,7/19/1943,"Atlanta, GA",Male,...,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,NaN,NaN
41,Curtis L. Brown,Curtis L.,Brown,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",1987,12,Retired,3/11/1956,"Elizabethtown, NC",Male,...,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,NaN,NaN
43,Mark N. Brown,Mark N.,Brown,"STS 28 (Columbia), STS-48 (Discovery)",1984,10,Retired,11/18/1951,"Valparaiso, IN",Male,...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,NaN,NaN
44,James F. Buchli,James F.,Buchli,"STS 51-C (Discovery), STS 61-A (Challenger), S...",1978,8,Retired,6/20/1945,"New Rockford, ND",Male,...,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,NaN,NaN
46,John S. Bull,John S.,Bull,NaN,1966,5,Deceased,9/25/1934,"Memphis, TN",Male,...,Mechanical Engineering,Aeronautical Engineering,NaN,NaN,0,0,0,0.0,8/11/2008,NaN
48,Daniel W. Bursch,Daniel W.,Bursch,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",1990,13,Retired,7/25/1957,"Bristol, PA",Male,...,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,NaN,NaN
49,Robert D. Cabana,Robert D.,Cabana,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",1985,11,Management,1/23/1949,"Minneapolis, MN",Male,...,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,NaN,NaN
54,Kenneth D. Cameron,Kenneth D.,Cameron,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",1984,10,Retired,11/29/1949,"Cleveland, OH",Male,...,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,NaN,NaN
56,M. Scott Carpenter,M.,Scott Carpenter,Mercury 7,1959,1,Retired,5/1/1925,"Boulder, CO",Male,...,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,Michael J. Smith,Michael J.,Smith,STS 51-L (Challenger),1980,9,Deceased,4/30/1945,"Beaufort, NC",Male,...,Naval Sciences,Aeronautical Engineering,Captain,US Navy,1,0,0,0.0,1/28/1986,STS 51-L (Challenger)
303,Sherwood C. Spring,Sherwood C.,Spring,STS 61-B (Atlantis),1980,9,Retired,9/23/1944,"Hartford, CT",Male,...,Engineering,Aerospace Engineering,Colonel,US Army (Retired),1,165,2,12.0,NaN,NaN
304,Robert C. Springer,Robert C.,Springer,"STS-29 (Discovery), STS-38 (Atlantis)",1980,9,Retired,5/21/1942,"St. Louis, MO",Male,...,Naval Sciences,Operations Research,Colonel,US Marine Corps (Retired),2,237,0,0.0,NaN,NaN
305,Thomas P. Stafford,Thomas P.,Stafford,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",1962,2,Retired,9/17/1930,"Weatherford, OK",Male,...,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,NaN,NaN
307,Robert L. Stewart,Robert L.,Stewart,"STS 41-B (Challenger), STS 51-J (Atlantis)",1978,8,Retired,8/13/1942,"Washington, DC",Male,...,Mathematics,Aerospace Engineering,Brigadier General,US Army (Retired),2,289,2,12.0,NaN,NaN
310,Kathryn D. Sullivan,Kathryn D.,Sullivan,"STS 41-G (Challenger), STS-31 (Discovery), STS...",1978,8,Retired,10/3/1951,"Patterson, NJ",Female,...,Earth Sciences,Earth Sciences; Geology,NaN,NaN,3,532,1,3.0,NaN,NaN
312,John L. Swigert,John L.,Swigert,Apollo 13,1966,5,Deceased,8/30/1931,"Denver, CO",Male,...,Mechanical Engineering,Aerospace Science; Business Administration,NaN,NaN,1,142,0,0.0,12/27/1982,NaN
315,Norman E. Thagard,Norman E.,Thagard,"STS-7 (Challenger), STS 51-B (Challenger), STS...",1978,8,Retired,7/3/1943,"Marianna, FL",Male,...,Engineering Science,Engineering Science; Medicine,NaN,NaN,5,3373,0,0.0,NaN,NaN
317,Donald A. Thomas,Donald A.,Thomas,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",1990,13,Retired,5/6/1955,"Cleveland, OH",Male,...,Physics,Materials Science,NaN,NaN,4,1040,0,0.0,NaN,NaN
318,Stephen D. Thorne,Stephen D.,Thorne,NaN,1985,11,Deceased,2/11/1953,"Frankfurt, West Germany",Male,...,Engineering,NaN,Lieutenant Commander,US Navy,0,0,0,0.0,5/24/1986,NaN
319,Kathryn C. Thornton,Kathryn C.,Thornton,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",1984,10,Retired,8/17/1952,"Montgomery, AL",Female,...,Physics,Physics,NaN,NaN,4,975,3,21.0,NaN,NaN
320,William E. Thornton,William E.,Thornton,"STS-8 (Challenger), STS 51-B (Challenger)",1967,6,Retired,4/14/1929,"Faison, NC",Male,...,Physics,Medicine,NaN,NaN,2,315,0,0.0,NaN,NaN
321,Pierre J. Thuot,Pierre J.,Thuot,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",1985,11,Retired,5/19/1955,"Groton, CT",Male,...,Physics,Systems Management,Commander,US Navy,3,654,3,17.0,NaN,NaN
323,Richard H. Truly,Richard H.,Truly,"STS-2 (Columbia), STS-8 (Challenger)",1969,7,Retired,11/12/1937,"Fayette, MS",Male,...,Aeronautical Engineering,NaN,Vice Admiral,US Navy (Retired),2,199,0,0.0,NaN,NaN
325,James D. van Hoften,James D.,van Hoften,"STS 41-C (Challenger), STS 51-I (Discovery)",1978,8,Retired,6/11/1944,"Fresno, CA",Male,...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,NaN,NaN,2,338,4,22.0,NaN,NaN
327,Charles Lacy Veach,Charles,Lacy,"STS-39 (Discovery), STS-52 (Columbia)",1984,10,Deceased,9/18/1944,"Chicago, IL",Male,...,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,10/3/1995,NaN
329,James S. Voss,James S.,Voss,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",1987,12,Retired,3/3/1949,"Cordova, AL",Male,...,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,NaN,NaN
330,Janice E. Voss,Janice E.,Voss,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",1990,13,Deceased,10/8/1956,"South Bend, IN",Female,...,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,2/6/2012,NaN
333,David M. Walker,David M.,Walker,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",1978,8,Deceased,5/20/1944,"Columbus, GA",Male,...,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,4/23/2001,NaN
335,Carl E. Walz,Carl E.,Walz,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",1990,13,Retired,9/6/1955,"Cleveland, OH",Male,...,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,NaN,NaN
338,Paul J. Weitz,Paul J.,Weitz,"Skylab 2, STS-6 (Challenger)",1966,5,Retired,6/25/1932,"Erie, PA",Male,...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,NaN,NaN
339,James D. Wetherbee,James D.,Wetherbee,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",1984,10,Retired,11/27/1952,"Flushing, NY",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,NaN,NaN
341,Edward H. White II,Edward H.,White II,"Gemini 4, Apollo 1",1962,2,Deceased,11/14/1930,"San Antonio, TX",Male,...,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,1/27/1967,Apollo 1
343,Terrence W. Wilcutt,Terrence W.,Wilcutt,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",1990,13,Management,10/31/1949,"Russellville, KY",Male,...,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,NaN,NaN
344,Clifton C. Williams,Clifton C.,Williams,NaN,1963,3,Deceased,9/26/1932,"Mobile, AL",Male,...,Mechanical Engineering,NaN,Major,US Marine Corps,0,0,0,0.0,10/5/1967,NaN
345,Donald E. Williams,Donald E.,Williams,"STS 51-D (Discovery), STS-34 (Atlantis)",1978,8,Retired,2/13/1958,"Lafayette, IN",Male,...,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,NaN,NaN
351,Peter J. K. Wisoff,Peter J.,K,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",1990,13,Retired,8/16/1958,"Norfolk, VA",Male,...,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,NaN,NaN
352,David A. Wolf,David A.,Wolf,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,1990,13,Retired,8/23/1956,"Indianapolis, IN",Male,...,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,NaN,NaN
354,Alfred M. Worden,Alfred M.,Worden,Apollo 15,1966,5,Retired,2/7/1932,"Jackson, MI",Male,...,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,NaN,NaN
355,John W. Young,John W.,Young,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",1962,2,Retired,9/24/1930,"San Francisco, CA",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,NaN,NaN

In [84]:
#Remove all astronauts who didn't pursue missions
astro_df = astro_df[astro_df['Missions'].notnull()]
astro_df

,Full Name,First Name,Last Name,Missions,Year,Group,Status,Birth Date,Birth Place,Gender,...,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Death Date,Death Mission
2,James C. Adamson,James C.,Adamson,"STS-28 (Columbia), STS-43 (Atlantis)",1984,10,Retired,3/3/1946,"Warsaw, NY",Male,...,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,NaN,NaN
3,Thomas D. Akers,Thomas D.,Akers,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",1987,12,Retired,5/20/1951,"St. Louis, MO",Male,...,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,NaN,NaN
4,Buzz Aldrin,Buzz,Aldrin,"Gemini 12, Apollo 11",1963,3,Retired,1/20/1930,"Montclair, NJ",Male,...,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,NaN,NaN
5,Andrew M. Allen,Andrew M.,Allen,"STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...",1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,...,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,NaN,NaN
6,Joseph P. Allen,Joseph P.,Allen,"ST-5 (Columbia), STS 51-A (Discovery)",1967,6,Retired,6/27/1937,"Crawsfordsville, IN",Male,...,Mathematics & Physics,Physics,NaN,NaN,2,313,2,12.0,NaN,NaN
8,William A. Anders,William A.,Anders,Apollo 8,1963,3,Retired,10/17/1933,Hong Kong,Male,...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,NaN,NaN
12,Jerome Apt III,Jerome,Apt,"STS-37 (Atlantis), STS-47 (Endeavor), STS-59 (...",1985,11,Retired,4/18/1949,"Springfield, MA",Male,...,Physics,Physics,NaN,NaN,4,847,2,11.0,NaN,NaN
14,Neil A. Armstrong,Neil A.,Armstrong,"Gemini 8, Apollo 11",1962,2,Deceased,8/5/1930,"Wapakoneta, OH",Male,...,Aeronautical Engineering,Aerospace Engineering,NaN,NaN,2,205,1,2.0,8/25/2012,NaN
18,James P. Bagian,James P.,Bagian,"STS-29 (Discovery), STS-40 (Columbia)",1980,9,Retired,2/22/1952,"Philadelphia, PA",Male,...,Mechanical Engineering,Medicine,NaN,NaN,2,337,0,0.0,NaN,NaN
19,Ellen S. Baker,Ellen S.,Baker,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",1984,10,Retired,4/27/1953,"Fayettesville, NC",Female,...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,NaN,NaN
20,Michael A. Baker,Michael A.,Baker,"STS-43 (Atlantis), STS-52 (Columbia), STS-68 (...",1985,11,Management,10/27/1953,"Memphis, TN",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),4,965,0,0.0,NaN,NaN
25,Alan L. Bean,Alan L.,Bean,"Apollo 12, Skylab 3",1963,3,Retired,3/15/1932,"Wheeler, TX",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,NaN,NaN
27,John E. Blaha,John E.,Blaha,"STS-29 (Discovery), STS-33 (Discovery), STS-43...",1980,9,Retired,8/26/1942,"San Antonio, TX",Male,...,Engineering Science,Astronautical Engineering,Colonel,US Air Force (Retired),5,3861,0,0.0,NaN,NaN
29,Guion S. Bluford,Guion S.,Bluford,"STS-8 (Challenger), STS 61-A (Challenger), STS...",1978,8,Retired,11/22/1942,"Philadelphia, PA",Male,...,Aerospace Engineering,Aerospace Engineering; Business Administration,Colonel,US Air Force (Retired),4,689,0,0.0,NaN,NaN
30,Karol J. Bobko,Karol J.,Bobko,"STS-6 (Challenger), STS 51-D (Discovery), STS-...",1969,7,Retired,12/23/1937,"New York, NY",Male,...,NaN,Aerospace Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,NaN,NaN
32,Charles F. Bolden,Charles F.,Bolden,"STS-61C (Columbia), STS-31 (Discovery), STS-45...",1980,9,Management,8/19/1946,"Columbia, SC",Male,...,Electrical Science,Systems Management,Major General,US Marine Corps (Retired),4,680,0,0.0,NaN,NaN
33,Frank Borman,Frank,Borman,"Gemini 7, Apollo 8",1962,2,Retired,3/14/1928,"Gary, IN",Male,...,NaN,Aeronautical Engineering,Colonel,US Air Force (Retired),2,477,0,0.0,NaN,NaN
35,Kenneth D. Bowersox,Kenneth D.,Bowersox,"STS-50 (Columbia), STS-61 (Endeavor), STS-73 (...",1987,12,Retired,11/14/1956,"Portsmouth, VA",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),5,5078,2,13.0,NaN,NaN
37,Vance D. Brand,Vance D.,Brand,"Apollo-Soyuz Test Project, STS-5 (Columbia), S...",1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
38,Daniel C. Brandenstein,Daniel C.,Brandenstein,"STS-8 (Challenger), STS 51-G (Discovery), STS-...",1978,8,Retired,1/17/1943,"Watertown, WI",Male,...,Mathematics & Physics,NaN,Captain,US Navy (Retired),4,789,0,0.0,NaN,NaN
40,Roy D. Bridges,Roy D.,Bridges,STS 51-F (Challenger),1980,9,Retired,7/19/1943,"Atlanta, GA",Male,...,Engineering Science,Astronautics,Major General,US Air Force (Retired),1,190,0,0.0,NaN,NaN
41,Curtis L. Brown,Curtis L.,Brown,"STS-47 (Endeavor), STS-66 (Atlantis), STS-77 (...",1987,12,Retired,3/11/1956,"Elizabethtown, NC",Male,...,Electrical Engineering,NaN,Colonel,US Air Force (Retired),6,1383,0,0.0,NaN,NaN
43,Mark N. Brown,Mark N.,Brown,"STS 28 (Columbia), STS-48 (Discovery)",1984,10,Retired,11/18/1951,"Valparaiso, IN",Male,...,Aeronautical & Astronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),2,249,0,0.0,NaN,NaN
44,James F. Buchli,James F.,Buchli,"STS 51-C (Discovery), STS 61-A (Challenger), S...",1978,8,Retired,6/20/1945,"New Rockford, ND",Male,...,Aeronautical Engineering,Aeronautical Engineering Systems,Colonel,US Marine Corps (Retired),4,490,0,0.0,NaN,NaN
48,Daniel W. Bursch,Daniel W.,Bursch,"STS-51 (Discovery), STS-68 (Endeavor), STS-77 ...",1990,13,Retired,7/25/1957,"Bristol, PA",Male,...,Physics,Engineering Science,Captain,US Navy (Retired),4,5446,2,12.0,NaN,NaN
49,Robert D. Cabana,Robert D.,Cabana,"STS-41 (Discovery), STS-53 (Discovery), STS-65...",1985,11,Management,1/23/1949,"Minneapolis, MN",Male,...,Mathematics,NaN,Colonel,US Marine Corps (Retired),4,910,0,0.0,NaN,NaN
54,Kenneth D. Cameron,Kenneth D.,Cameron,"STS-37 (Atlantis), STS-56 (Discovery), STS-74 ...",1984,10,Retired,11/29/1949,"Cleveland, OH",Male,...,Aeronautics & Astronautics,Aeronautics & Astronautics; Business Administr...,Colonel,US Marine Corps (Retired),3,562,0,0.0,NaN,NaN
56,M. Scott Carpenter,M.,Scott Carpenter,Mercury 7,1959,1,Retired,5/1/1925,"Boulder, CO",Male,...,Aeronautical Engineering,NaN,Commander,US Navy (Retired),1,4,0,0.0,NaN,NaN
57,Gerald P. Carr,Gerald P.,Carr,Skylab 4,1966,5,Retired,8/22/1932,"Denver, CO",Male,...,Mechanical Engineering,Aeronautical Engineering,Colonel,US Marine Corps (Retired),1,2017,3,16.0,NaN,NaN
58,Manley Lanier Carter,Manley,Lanier,STS-33 (Discovery),1984,10,Deceased,8/15/1947,"Macon, GA",Male,...,Chemistry,Medicine,Captain,US Navy,1,120,0,0.0,4/5/1991,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,Loren J. Shriver,Loren J.,Shriver,"STS 51-C (Discovery), STS-31 (Discovery), STS-...",1978,8,Retired,9/23/1944,"Jefferson, IA",Male,...,Aeronautical Engineering,Astronautical Engineering,Colonel,US Air Force (Retired),3,386,0,0.0,NaN,NaN
300,Donald K. Slayton,Donald K.,Slayton,Apollo-Soyuz Test Project,1959,1,Deceased,3/1/1924,"Sparta, WI",Male,...,Aeronautical Engineering,NaN,Major,US Air Force Reserves,1,217,0,0.0,6/13/1993,NaN
301,Michael J. Smith,Michael J.,Smith,STS 51-L (Challenger),1980,9,Deceased,4/30/1945,"Beaufort, NC",Male,...,Naval Sciences,Aeronautical Engineering,Captain,US Navy,1,0,0,0.0,1/28/1986,STS 51-L (Challenger)
303,Sherwood C. Spring,Sherwood C.,Spring,STS 61-B (Atlantis),1980,9,Retired,9/23/1944,"Hartford, CT",Male,...,Engineering,Aerospace Engineering,Colonel,US Army (Retired),1,165,2,12.0,NaN,NaN
304,Robert C. Springer,Robert C.,Springer,"STS-29 (Discovery), STS-38 (Atlantis)",1980,9,Retired,5/21/1942,"St. Louis, MO",Male,...,Naval Sciences,Operations Research,Colonel,US Marine Corps (Retired),2,237,0,0.0,NaN,NaN
305,Thomas P. Stafford,Thomas P.,Stafford,"Gemini 6, Gemini 9, Apollo 10, Apollo-Soyuz Te...",1962,2,Retired,9/17/1930,"Weatherford, OK",Male,...,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,NaN,NaN
307,Robert L. Stewart,Robert L.,Stewart,"STS 41-B (Challenger), STS 51-J (Atlantis)",1978,8,Retired,8/13/1942,"Washington, DC",Male,...,Mathematics,Aerospace Engineering,Brigadier General,US Army (Retired),2,289,2,12.0,NaN,NaN
310,Kathryn D. Sullivan,Kathryn D.,Sullivan,"STS 41-G (Challenger), STS-31 (Discovery), STS...",1978,8,Retired,10/3/1951,"Patterson, NJ",Female,...,Earth Sciences,Earth Sciences; Geology,NaN,NaN,3,532,1,3.0,NaN,NaN
312,John L. Swigert,John L.,Swigert,Apollo 13,1966,5,Deceased,8/30/1931,"Denver, CO",Male,...,Mechanical Engineering,Aerospace Science; Business Administration,NaN,NaN,1,142,0,0.0,12/27/1982,NaN
315,Norman E. Thagard,Norman E.,Thagard,"STS-7 (Challenger), STS 51-B (Challenger), STS...",1978,8,Retired,7/3/1943,"Marianna, FL",Male,...,Engineering Science,Engineering Science; Medicine,NaN,NaN,5,3373,0,0.0,NaN,NaN
317,Donald A. Thomas,Donald A.,Thomas,"STS-65 (Columbia), STS-70 (Discovery), STS-83 ...",1990,13,Retired,5/6/1955,"Cleveland, OH",Male,...,Physics,Materials Science,NaN,NaN,4,1040,0,0.0,NaN,NaN
319,Kathryn C. Thornton,Kathryn C.,Thornton,"STS-33 (Discovery), STS-49 (Endeavor), STS-61 ...",1984,10,Retired,8/17/1952,"Montgomery, AL",Female,...,Physics,Physics,NaN,NaN,4,975,3,21.0,NaN,NaN
320,William E. Thornton,William E.,Thornton,"STS-8 (Challenger), STS 51-B (Challenger)",1967,6,Retired,4/14/1929,"Faison, NC",Male,...,Physics,Medicine,NaN,NaN,2,315,0,0.0,NaN,NaN
321,Pierre J. Thuot,Pierre J.,Thuot,"STS-36 (Atlantis), STS-49 (Endeavor), STS-62 (...",1985,11,Retired,5/19/1955,"Groton, CT",Male,...,Physics,Systems Management,Commander,US Navy,3,654,3,17.0,NaN,NaN
323,Richard H. Truly,Richard H.,Truly,"STS-2 (Columbia), STS-8 (Challenger)",1969,7,Retired,11/12/1937,"Fayette, MS",Male,...,Aeronautical Engineering,NaN,Vice Admiral,US Navy (Retired),2,199,0,0.0,NaN,NaN
325,James D. van Hoften,James D.,van Hoften,"STS 41-C (Challenger), STS 51-I (Discovery)",1978,8,Retired,6/11/1944,"Fresno, CA",Male,...,Civil Engineering,Hydraulic Engineering; Fluid Mechanics,NaN,NaN,2,338,4,22.0,NaN,NaN
327,Charles Lacy Veach,Charles,Lacy,"STS-39 (Discovery), STS-52 (Columbia)",1984,10,Deceased,9/18/1944,"Chicago, IL",Male,...,Engineering Management,NaN,NaN,NaN,2,436,0,0.0,10/3/1995,NaN
329,James S. Voss,James S.,Voss,"STS-44 (Atlantis), STS-53 (Discovery), STS-69 ...",1987,12,Retired,3/3/1949,"Cordova, AL",Male,...,Aerospace Engineering,Aerospace Engineering Sciences,Colonel,US Army (Retired),5,4853,4,22.0,NaN,NaN
330,Janice E. Voss,Janice E.,Voss,"STS-57 (Endeavor), STS-63 (Discovery), STS-83 ...",1990,13,Deceased,10/8/1956,"South Bend, IN",Female,...,Engineering Science,Electrical Engineering; Aeronautics & Astronau...,NaN,NaN,5,1179,0,0.0,2/6/2012,NaN
333,David M. Walker,David M.,Walker,"STS 51-A (Discovery), STS-30 (Atlantis), STS-5...",1978,8,Deceased,5/20/1944,"Columbus, GA",Male,...,Naval Sciences,NaN,Captain,US Navy (Retired),4,724,0,0.0,4/23/2001,NaN
335,Carl E. Walz,Carl E.,Walz,"STS-51 (Discovery), STS-65 (Columbia), STS-79 ...",1990,13,Retired,9/6/1955,"Cleveland, OH",Male,...,Physics,Solid State Physics,Colonel,US Air Force,4,5533,3,19.0,NaN,NaN
338,Paul J. Weitz,Paul J.,Weitz,"Skylab 2, STS-6 (Challenger)",1966,5,Retired,6/25/1932,"Erie, PA",Male,...,Aeronautical Engineering,Aeronautical Engineering,Captain,US Navy (Retired),2,793,1,2.0,NaN,NaN
339,James D. Wetherbee,James D.,Wetherbee,"STS-32 (Columbia), STS-52 (Columbia), STS-63 (...",1984,10,Retired,11/27/1952,"Flushing, NY",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),6,1594,0,0.0,NaN,NaN
341,Edward H. White II,Edward H.,White II,"Gemini 4, Apollo 1",1962,2,Deceased,11/14/1930,"San Antonio, TX",Male,...,NaN,Aeronautical Engineering,Lieutenant Colonel,US Air Force,2,97,1,0.5,1/27/1967,Apollo 1
343,Terrence W. Wilcutt,Terrence W.,Wilcutt,"STS-68 (Endeavor), STS-79 (Atlantis), STS-89 (...",1990,13,Management,10/31/1949,"Russellville, KY",Male,...,Mathematics,NaN,NaN,NaN,4,1008,0,0.0,NaN,NaN
345,Donald E. Williams,Donald E.,Williams,"STS 51-D (Discovery), STS-34 (Atlantis)",1978,8,Retired,2/13/1958,"Lafayette, IN",Male,...,Mechanical Engineering,NaN,Captain,US Navy (Retired),2,287,0,0.0,NaN,NaN
351,Peter J. K. Wisoff,Peter J.,K,"STS-57 (Endeavor), STS-68 (Endeavor), STS-81 (...",1990,13,Retired,8/16/1958,"Norfolk, VA",Male,...,Physics,Applied Physics,NaN,NaN,4,1064,3,20.0,NaN,NaN
352,David A. Wolf,David A.,Wolf,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,1990,13,Retired,8/23/1956,"Indianapolis, IN",Male,...,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,NaN,NaN
354,Alfred M. Worden,Alfred M.,Worden,Apollo 15,1966,5,Retired,2/7/1932,"Jackson, MI",Male,...,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,NaN,NaN
355,John W. Young,John W.,Young,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",1962,2,Retired,9/24/1930,"San Francisco, CA",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,NaN,NaN

In [85]:
#Setting up name split per mission
df_astro = pd.DataFrame(columns=astro_df.columns)

#Iterate over df in order to create new df, split names appropriately so each mission is seperate
for index, row in astro_df.iterrows():
    check = row["Missions"].split(",")
    
    for mission in check:
        simp_df = pd.DataFrame([[row['Full Name'], row['First Name'], row['Last Name'], mission, row['Year'], row['Group'],
        row['Status'], row['Birth Date'], row['Birth Place'], row['Gender'], row['Alma Mater'],
        row['Undergraduate Major'], row['Graduate Major'], row['Military Rank'],
        row['Military Branch'], row['Space Flights'], row['Space Flight (hr)'], row['Space Walks'],
        row['Space Walks (hr)'], row['Death Date'], row['Death Mission']]], columns=df_astro.columns)
        df_astro = df_astro.append(simp_df)

#Apply sort based on Crew Member's Last Name
df_astro = df_astro.sort_values(by=["Full Name"])

#Reset index
df_astro = df_astro.reset_index(drop=True)

df_astro

,Full Name,First Name,Last Name,Missions,Year,Group,Status,Birth Date,Birth Place,Gender,...,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Death Date,Death Mission
0,Alan B. Shepard,Alan B.,Shepard,Apollo 14,1959,1,Deceased,11/18/1923,"East Derry, NH",Male,...,Naval Sciences,NaN,Rear Admiral,US Navy (Retired),2,216,2,9.0,7/21/1998,NaN
1,Alan B. Shepard,Alan B.,Shepard,Mercury 3,1959,1,Deceased,11/18/1923,"East Derry, NH",Male,...,Naval Sciences,NaN,Rear Admiral,US Navy (Retired),2,216,2,9.0,7/21/1998,NaN
2,Alan L. Bean,Alan L.,Bean,Skylab 3,1963,3,Retired,3/15/1932,"Wheeler, TX",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,NaN,NaN
3,Alan L. Bean,Alan L.,Bean,Apollo 12,1963,3,Retired,3/15/1932,"Wheeler, TX",Male,...,Aeronautical Engineering,NaN,Captain,US Navy (Retired),2,1671,3,10.0,NaN,NaN
4,Alfred M. Worden,Alfred M.,Worden,Apollo 15,1966,5,Retired,2/7/1932,"Jackson, MI",Male,...,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,NaN,NaN
5,Andrew M. Allen,Andrew M.,Allen,STS-75 (Columbia),1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,...,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,NaN,NaN
6,Andrew M. Allen,Andrew M.,Allen,STS-62 (Columbia),1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,...,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,NaN,NaN
7,Andrew M. Allen,Andrew M.,Allen,STS-46 (Atlantis),1987,12,Retired,8/4/1955,"Philadelphia, PA",Male,...,Mechanical Engineering,Business Administration,Lieutenant Colonel,US Marine Corps (Retired),3,906,0,0.0,NaN,NaN
8,Anna L. Fisher,Anna L.,Fisher,STS 51-A (Discovery),1978,8,Management,8/24/1949,"New York, NY",Female,...,Chemistry,Chemistry; Medicine,NaN,NaN,1,191,0,0.0,NaN,NaN
9,Anthony W. England,Anthony W.,England,STS 51-F (Challenger),1967,6,Retired,5/15/1942,"Indianapolis, IN",Male,...,Geology,Geology; Geophysics,NaN,NaN,1,190,0,0.0,NaN,NaN
10,Bernard A. Harris,Bernard A.,Harris,STS-55 (Columbia),1990,13,Retired,6/26/1956,"Temple, TX",Male,...,Biology,Medicine,NaN,NaN,2,438,1,5.0,NaN,NaN
11,Bernard A. Harris,Bernard A.,Harris,STS-63 (Discovery),1990,13,Retired,6/26/1956,"Temple, TX",Male,...,Biology,Medicine,NaN,NaN,2,438,1,5.0,NaN,NaN
12,Bonnie J. Dunbar,Bonnie J.,Dunbar,STS 61-A (Challenger),1980,9,Retired,3/3/1949,"Sunnyside, WA",Female,...,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,NaN,NaN
13,Bonnie J. Dunbar,Bonnie J.,Dunbar,STS-32 (Columbia),1980,9,Retired,3/3/1949,"Sunnyside, WA",Female,...,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,NaN,NaN
14,Bonnie J. Dunbar,Bonnie J.,Dunbar,STS-50 (Columbia),1980,9,Retired,3/3/1949,"Sunnyside, WA",Female,...,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,NaN,NaN
15,Bonnie J. Dunbar,Bonnie J.,Dunbar,STS-71 (Atlantis),1980,9,Retired,3/3/1949,"Sunnyside, WA",Female,...,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,NaN,NaN
16,Bonnie J. Dunbar,Bonnie J.,Dunbar,STS-89 (Endeavor),1980,9,Retired,3/3/1949,"Sunnyside, WA",Female,...,Ceramic Engineering,Ceramic Engineering; Biomedical Engineering,NaN,NaN,5,1207,0,0.0,NaN,NaN
17,Brewster H. Shaw,Brewster H.,Shaw,STS-28 (Columbia),1978,8,Retired,5/16/1945,"Cass City, MI",Male,...,Engineering Mechanics,Engineering Mechanics,Colonel,US Air Force (Retired),3,533,0,0.0,NaN,NaN
18,Brewster H. Shaw,Brewster H.,Shaw,STS 61-B (Atlantis),1978,8,Retired,5/16/1945,"Cass City, MI",Male,...,Engineering Mechanics,Engineering Mechanics,Colonel,US Air Force (Retired),3,533,0,0.0,NaN,NaN
19,Brewster H. Shaw,Brewster H.,Shaw,STS-9 (Columbia),1978,8,Retired,5/16/1945,"Cass City, MI",Male,...,Engineering Mechanics,Engineering Mechanics,Colonel,US Air Force (Retired),3,533,0,0.0,NaN,NaN
20,Brian Duffy,Brian,Duffy,STS-72 (Endeavor),1985,11,Retired,6/20/1953,"Boston, MA",Male,...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,NaN,NaN
21,Brian Duffy,Brian,Duffy,STS-92 (Discovery),1985,11,Retired,6/20/1953,"Boston, MA",Male,...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,NaN,NaN
22,Brian Duffy,Brian,Duffy,STS-45 (Atlantis),1985,11,Retired,6/20/1953,"Boston, MA",Male,...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,NaN,NaN
23,Brian Duffy,Brian,Duffy,STS-57 (Endeavor),1985,11,Retired,6/20/1953,"Boston, MA",Male,...,Mathematics,Systems Management,Colonel,US Air Force (Retired),4,977,0,0.0,NaN,NaN
24,Bruce E. Melnick,Bruce E.,Melnick,STS-49 (Endeavor),1987,12,Retired,12/5/1949,"New York, NY",Male,...,Engineering,Aeronautical Systems,Commander,US Coast Guard (Retired),2,311,0,0.0,NaN,NaN
25,Bruce E. Melnick,Bruce E.,Melnick,STS-41 (Discovery),1987,12,Retired,12/5/1949,"New York, NY",Male,...,Engineering,Aeronautical Systems,Commander,US Coast Guard (Retired),2,311,0,0.0,NaN,NaN
26,Bruce McCandless II,Bruce,McCandless,STS-31 (Discovery),1966,5,Retired,6/8/1937,"Boston, MA",Male,...,NaN,Electrical Engineering; Business Administration,Captain,US Navy (Retired),2,312,2,12.0,NaN,NaN
27,Bruce McCandless II,Bruce,McCandless,STS 41-B (Challenger),1966,5,Retired,6/8/1937,"Boston, MA",Male,...,NaN,Electrical Engineering; Business Administration,Captain,US Navy (Retired),2,312,2,12.0,NaN,NaN
28,Bryan D. O'Connor,Bryan D.,O'Connor,STS 61-B (Atlantis),1980,9,Retired,9/6/1946,"Orange, CA",Male,...,Engineering,Aeronautical Systems,Colonel,US Marine Corps (Retired),2,383,0,0.0,NaN,NaN
29,Bryan D. O'Connor,Bryan D.,O'Connor,STS-40 (Columbia),1980,9,Retired,9/6/1946,"Orange, CA",Male,...,Engineering,Aeronautical Systems,Colonel,US Marine Corps (Retired),2,383,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Thomas P. Stafford,Thomas P.,Stafford,Gemini 6,1962,2,Retired,9/17/1930,"Weatherford, OK",Male,...,NaN,NaN,Lieutenant General,US Air Force (Retired),4,507,0,0.0,NaN,NaN
490,Vance D. Brand,Vance D.,Brand,STS 41-B (Challenger),1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
491,Vance D. Brand,Vance D.,Brand,Apollo-Soyuz Test Project,1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
492,Vance D. Brand,Vance D.,Brand,STS-35 (Columbia),1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
493,Vance D. Brand,Vance D.,Brand,STS-5 (Columbia),1966,5,Retired,5/9/1931,"Longmont, CA",Male,...,Business Management; Aeronautical Engineering,Business Administration,NaN,US Marine Corps Reserves,4,752,0,0.0,NaN,NaN
494,Virgil I. Grissom,Virgil I.,Grissom,Mercury 4,1959,1,Deceased,4/3/1926,"Mitchell, IN",Male,...,Mechanical Engineering,NaN,Lieutenant Colonel,US Air Force,2,5,0,0.0,1/27/1967,Apollo 1
495,Virgil I. Grissom,Virgil I.,Grissom,Apollo 1,1959,1,Deceased,4/3/1926,"Mitchell, IN",Male,...,Mechanical Engineering,NaN,Lieutenant Colonel,US Air Force,2,5,0,0.0,1/27/1967,Apollo 1
496,Virgil I. Grissom,Virgil I.,Grissom,Gemini 3,1959,1,Deceased,4/3/1926,"Mitchell, IN",Male,...,Mechanical Engineering,NaN,Lieutenant Colonel,US Air Force,2,5,0,0.0,1/27/1967,Apollo 1
497,Walter Cunningham,Walter,Cunningham,Apollo 7,1963,3,Retired,3/16/1932,"Creston, IA",Male,...,Physics,Physics,Colonel,US Marine Corps Reserves,1,260,0,0.0,NaN,NaN
498,Walter M. Schirra,Walter M.,Schirra,Apollo 7,1959,1,Deceased,3/12/1923,"Hackensack, NJ",Male,...,Naval Sciences,NaN,Captain,US Navy (Retired),3,295,0,0.0,5/2/2007,NaN
499,Walter M. Schirra,Walter M.,Schirra,Gemini 6,1959,1,Deceased,3/12/1923,"Hackensack, NJ",Male,...,Naval Sciences,NaN,Captain,US Navy (Retired),3,295,0,0.0,5/2/2007,NaN
500,Walter M. Schirra,Walter M.,Schirra,Mercury 8,1959,1,Deceased,3/12/1923,"Hackensack, NJ",Male,...,Naval Sciences,NaN,Captain,US Navy (Retired),3,295,0,0.0,5/2/2007,NaN
501,William A. Anders,William A.,Anders,Apollo 8,1963,3,Retired,10/17/1933,Hong Kong,Male,...,Nuclear Engineering,Nuclear Engineering,Major General,US Air Force Reserves (Retired),1,147,0,0.0,NaN,NaN
502,William B. Lenoir,William B.,Lenoir,STS-5 (Columbia),1967,6,Deceased,3/14/1939,"Miami, FL",Male,...,Electrical Engineering,Electrical Engineering,NaN,NaN,1,122,0,0.0,8/26/2012,NaN
503,William E. Thornton,William E.,Thornton,STS-8 (Challenger),1967,6,Retired,4/14/1929,"Faison, NC",Male,...,Physics,Medicine,NaN,NaN,2,315,0,0.0,NaN,NaN
504,William E. Thornton,William E.,Thornton,STS 51-B (Challenger),1967,6,Retired,4/14/1929,"Faison, NC",Male,...,Physics,Medicine,NaN,NaN,2,315,0,0.0,NaN,NaN
505,William F. Fisher,William F.,Fisher,STS 51-I (Discovery),1980,9,Retired,4/1/1946,"Dallas, TX",Male,...,NaN,Engineering; Medicine,NaN,NaN,1,170,2,12.0,NaN,NaN
506,William F. Readdy,William F.,Readdy,STS-42 (Discovery),1987,12,Retired,1/24/1952,"Quonset Point, RI",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),3,672,0,0.0,NaN,NaN
507,William F. Readdy,William F.,Readdy,STS-51 (Discovery),1987,12,Retired,1/24/1952,"Quonset Point, RI",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),3,672,0,0.0,NaN,NaN
508,William F. Readdy,William F.,Readdy,STS-79 (Atlantis),1987,12,Retired,1/24/1952,"Quonset Point, RI",Male,...,Aerospace Engineering,NaN,Captain,US Navy (Retired),3,672,0,0.0,NaN,NaN
509,William G. Gregory,William G.,Gregory,STS-67 (Endeavor),1990,13,Retired,5/14/1957,"Lockport, NY",Male,...,Engineering Science,Engineering Mechanics; Business Management,Lieutenant Colonel,US Air Force,1,399,0,0.0,NaN,NaN
510,William M. Shepherd,William M.,Shepherd,STS-52 (Columbia),1984,10,Retired,7/26/1949,"Oak Ridge, TN",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,NaN,NaN
511,William M. Shepherd,William M.,Shepherd,STS-37 (Atlantis),1984,10,Retired,7/26/1949,"Oak Ridge, TN",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,NaN,NaN
512,William M. Shepherd,William M.,Shepherd,STS-41 (Discovery),1984,10,Retired,7/26/1949,"Oak Ridge, TN",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,NaN,NaN
513,William M. Shepherd,William M.,Shepherd,ISS-01/STS-102 (Soyuz/Discovery),1984,10,Retired,7/26/1949,"Oak Ridge, TN",Male,...,Aerospace Engineering,Mechanical Engineering,Captain,US Navy (Retired),4,3823,0,0.0,NaN,NaN
514,William R. Pogue,William R.,Pogue,Skylab 4,1966,5,Retired,1/23/1930,"Okemah, OK",Male,...,Education,Mathematics,Colonel,US Air Force (Retired),1,2017,2,13.0,NaN,NaN
515,William S. McArthur,William S.,McArthur,STS-58 (Columbia),1990,3,Management,7/26/1951,"Laurinburg, NC",Male,...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,NaN,NaN
516,William S. McArthur,William S.,McArthur,STS-74 (Atlantis),1990,3,Management,7/26/1951,"Laurinburg, NC",Male,...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,NaN,NaN
517,William S. McArthur,William S.,McArthur,STS-92 (Discovery),1990,3,Management,7/26/1951,"Laurinburg, NC",Male,...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,NaN,NaN
518,William S. McArthur,William S.,McArthur,ISS-12 (Soyuz),1990,3,Management,7/26/1951,"Laurinburg, NC",Male,...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army (Retired),4,5398,4,24.0,NaN,NaN