In [1]:
import pandas as pd

In [2]:
# Used Pandas to retrieve data from table in html rather than BeautifulSoup
# First table of Orbital crewed spaceship
df1 = (pd.read_html('https://en.wikipedia.org/wiki/Comparison_of_crewed_space_vehicles'))[0]
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*
1,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1]
2,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3]
3,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3]
4,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6]

In [3]:
# Gets first row as a list to use as new header
header_1 = df1.iloc[0]
header_1

0                  Spacecraft
1                      Origin
2                Manufacturer
3                       Range
4                Launchsystem
5                    Crewsize
6                  Length (m)
7                Diameter (m)
8            Launch mass (kg)
9                 Powersystem
10    Payloadto/from ISS (kg)
11          Firstspaceflight*
12            Lastspaceflight
13                   Flights*
Name: 0, dtype: object

In [4]:
# Reset df to drop first row with header names
df1 = df1[1:]
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1]
2,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3]
3,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3]
4,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6]
5,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7]

In [5]:
df1.rename(columns=header_1, inplace=True)
df1.head()

,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*
1,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1]
2,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3]
3,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3]
4,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6]
5,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7]

In [6]:
# Add orbital type that separates table subjects
df1['Orbit'] = "Orbital"

In [7]:
# Second table of Sub-orbital crewed spaceship
df2 = (pd.read_html('https://en.wikipedia.org/wiki/Comparison_of_crewed_space_vehicles'))[0]
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*
1,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1]
2,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3]
3,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3]
4,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6]

In [8]:
df2 = df2.rename(columns=df2.iloc[0]).drop(df2.index[0])
df2.head()

,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*
1,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1]
2,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3]
3,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3]
4,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6]
5,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7]

In [9]:
df2['Orbit'] = "Sub-Orbital"

In [10]:
# See which columns can be joined on
list(df1.columns)

['Spacecraft',
 'Origin',
 'Manufacturer',
 'Range',
 'Launchsystem',
 'Crewsize',
 'Length (m)',
 'Diameter (m)',
 'Launch mass (kg)',
 'Powersystem',
 'Payloadto/from ISS (kg)',
 'Firstspaceflight*',
 'Lastspaceflight',
 'Flights*',
 'Orbit']

In [11]:
# See which columns can be joined on
list(df2.columns)

['Spacecraft',
 'Origin',
 'Manufacturer',
 'Range',
 'Launchsystem',
 'Crewsize',
 'Length (m)',
 'Diameter (m)',
 'Launch mass (kg)',
 'Powersystem',
 'Payloadto/from ISS (kg)',
 'Firstspaceflight*',
 'Lastspaceflight',
 'Flights*',
 'Orbit']

In [12]:
df3 = df1.merge(df2,how='outer')
df3

,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*,Orbit
0,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Orbital
1,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Orbital
2,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Orbital
3,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Orbital
4,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Orbital
5,Shenzhou,China,China Academy of Space Technology,LEO,Chang Zheng 2F,3,9.25,2.80,7840,Solar panels,NaN,2003 (1999),Active,7(4),Orbital
6,Gaganyaan,India,Hindustan Aeronautics Limited,LEO,GSLV Mk III,3,7,3,7800,Solar Panels,NaN,2021,NaN,0,Orbital
7,Soyuz 7K-T,Soviet Union,OKB-1,LEO,SoyuzSoyuz-U,2,7.48,2.72,NaN,Batteries,NaN,1973,1981,26 (4)[note 8],Orbital
8,Voskhod,Soviet Union,OKB-1,LEO,Voskhod,3[note 9],5,2.4,NaN,Batteries,NaN,1964 (1964),1965,2 (3),Orbital
9,Vostok,Soviet Union,OKB-1,LEOfirst,Vostok-K,1,4.4,2.43,4725,Batteries,NaN,1961 (1960),1963,6 (7)[note 10],Orbital
10,Soyuz 7K-OK,Soviet Union,OKB-1,LEO,Soyuz,3,7.48,2.72,NaN,Solar panels,NaN,1967 (1966),1970,8 (8)[note 11],Orbital
11,Soyuz 7KT-OK,Soviet Union,OKB-1,LEO,Soyuz,3,7.48,2.72,NaN,Solar panels,NaN,1971,1971,2[note 12],Orbital
12,Soyuz 7K-T-AF,Soviet Union,OKB-1,LEO,Soyuz,2,7.48,2.72,NaN,Solar panels,NaN,1973,1973,1,Orbital
13,Soyuz 7K-TM,Soviet Union,OKB-1,LEO,Soyuz-U,2,7.48,2.72,NaN,Solar panels,NaN,1974,1975,2 (2),Orbital
14,Soyuz 7K-MF6,Soviet Union,OKB-1,LEO,Soyuz-U,2,7.48,2.72,NaN,Solar panels,NaN,1976,1976,1,Orbital
15,Soyuz-T,Soviet Union,OKB-1,LEO,Soyuz-USoyuz-U2,3,7.48,2.72,NaN,Solar panels,NaN,1978,1986,15 (6)[note 13],Orbital
16,Soyuz-TM,Soviet Union Russia,RKK Energia,LEO,Soyuz-U2Soyuz-U,3,7.48,2.72,NaN,Solar panels,NaN,1986,2002,33 (1),Orbital
17,Buran,Soviet Union,RKK Energia,LEO,Energia,10,36.37,NaN,NaN,Fuel cells,NaN,(1988),(1988),(1),Orbital
18,Soyuz-TMA11F732,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,NaN,Solar panels,NaN,2002,2012,22,Orbital
19,Soyuz TMA-M11F747,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,7150,Solar panels,NaN,2010,2016,19,Orbital
20,Soyuz MS,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,NaN,Solar panels,NaN,2016,Active,3,Orbital
21,Federatsiya,Russia,RKK Energia,Lunar,Soyuz-5Angara 5,4,NaN,NaN,NaN,Solar panels,NaN,Planned: 2023,NaN,0,Orbital
22,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Orbital
23,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Orbital
24,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Orbital
25,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Orbital
26,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Orbital
27,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Sub-Orbital
28,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Sub-Orbital
29,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Sub-Orbital
30,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Sub-Orbital
31,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Sub-Orbital
32,Shenzhou,China,China Academy of Space Technology,LEO,Chang Zheng 2F,3,9.25,2.80,7840,Solar panels,NaN,2003 (1999),Active,7(4),Sub-Orbital
33,Gaganyaan,India,Hindustan Aeronautics Limited,LEO,GSLV Mk III,3,7,3,7800,Solar Panels,NaN,2021,NaN,0,Sub-Orbital
34,Soyuz 7K-T,Soviet Union,OKB-1,LEO,SoyuzSoyuz-U,2,7.48,2.72,NaN,Batteries,NaN,1973,1981,26 (4)[note 8],Sub-Orbital
35,Voskhod,Soviet Union,OKB-1,LEO,Voskhod,3[note 9],5,2.4,NaN,Batteries,NaN,1964 (1964),1965,2 (3),Sub-Orbital
36,Vostok,Soviet Union,OKB-1,LEOfirst,Vostok-K,1,4.4,2.43,4725,Batteries,NaN,1961 (1960),1963,6 (7)[note 10],Sub-Orbital
37,Soyuz 7K-OK,Soviet Union,OKB-1,LEO,Soyuz,3,7.48,2.72,NaN,Solar panels,NaN,1967 (1966),1970,8 (8)[note 11],Sub-Orbital
38,Soyuz 7KT-OK,Soviet Union,OKB-1,LEO,Soyuz,3,7.48,2.72,NaN,Solar panels,NaN,1971,1971,2[note 12],Sub-Orbital
39,Soyuz 7K-T-AF,Soviet Union,OKB-1,LEO,Soyuz,2,7.48,2.72,NaN,Solar panels,NaN,1973,1973,1,Sub-Orbital
40,Soyuz 7K-TM,Soviet Union,OKB-1,LEO,Soyuz-U,2,7.48,2.72,NaN,Solar panels,NaN,1974,1975,2 (2),Sub-Orbital
41,Soyuz 7K-MF6,Soviet Union,OKB-1,LEO,Soyuz-U,2,7.48,2.72,NaN,Solar panels,NaN,1976,1976,1,Sub-Orbital
42,Soyuz-T,Soviet Union,OKB-1,LEO,Soyuz-USoyuz-U2,3,7.48,2.72,NaN,Solar panels,NaN,1978,1986,15 (6)[note 13],Sub-Orbital
43,Soyuz-TM,Soviet Union Russia,RKK Energia,LEO,Soyuz-U2Soyuz-U,3,7.48,2.72,NaN,Solar panels,NaN,1986,2002,33 (1),Sub-Orbital
44,Buran,Soviet Union,RKK Energia,LEO,Energia,10,36.37,NaN,NaN,Fuel cells,NaN,(1988),(1988),(1),Sub-Orbital
45,Soyuz-TMA11F732,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,NaN,Solar panels,NaN,2002,2012,22,Sub-Orbital
46,Soyuz TMA-M11F747,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,7150,Solar panels,NaN,2010,2016,19,Sub-Orbital
47,Soyuz MS,Russia,RKK Energia,LEO,Soyuz-FG,3,7.48,2.72,NaN,Solar panels,NaN,2016,Active,3,Sub-Orbital
48,Federatsiya,Russia,RKK Energia,Lunar,Soyuz-5Angara 5,4,NaN,NaN,NaN,Solar panels,NaN,Planned: 2023,NaN,0,Sub-Orbital
49,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
50,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Sub-Orbital
51,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
52,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Sub-Orbital
53,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Sub-Orbital

In [13]:
# Extract only US ships
# for each in ship_df:
#     if each.Origin = 'USA':
#         each

ship_df = df3[df3.Origin == 'USA']
ship_df.head()

,Spacecraft,Origin,Manufacturer,Range,Launchsystem,Crewsize,Length (m),Diameter (m),Launch mass (kg),Powersystem,Payloadto/from ISS (kg),Firstspaceflight*,Lastspaceflight,Flights*,Orbit
0,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Orbital
1,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Orbital
2,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Orbital
3,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Orbital
4,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Orbital

In [14]:
# Rename Launchsytem, Crewsize, Powersystem, Payloadto/from ISS (kg), Firstspaceflight*, Lastspaceflight, Flights* fields
ship_df = ship_df.rename(columns={"Launchsystem":"Launch System", "Crewsize":"Crew Size", "Powersystem":"Power System", "Payloadto/from ISS (kg)":"Payload to/from ISS (kg)", "Firstspaceflight*":"First Space Flight","Lastspaceflight":"Last Space Flight", "Flights*":"Flights"})
ship_df

,Spacecraft,Origin,Manufacturer,Range,Launch System,Crew Size,Length (m),Diameter (m),Launch mass (kg),Power System,Payload to/from ISS (kg),First Space Flight,Last Space Flight,Flights,Orbit
0,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Orbital
1,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Orbital
2,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Orbital
3,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Orbital
4,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Orbital
22,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Orbital
23,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Orbital
24,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Orbital
25,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Orbital
26,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Orbital
27,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Sub-Orbital
28,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Sub-Orbital
29,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Sub-Orbital
30,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Sub-Orbital
31,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Sub-Orbital
49,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
50,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Sub-Orbital
51,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
52,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Sub-Orbital
53,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Sub-Orbital

In [15]:
# Reset index
test = ship_df.reset_index(drop=True)
test

,Spacecraft,Origin,Manufacturer,Range,Launch System,Crew Size,Length (m),Diameter (m),Launch mass (kg),Power System,Payload to/from ISS (kg),First Space Flight,Last Space Flight,Flights,Orbit
0,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Orbital
1,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Orbital
2,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Orbital
3,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Orbital
4,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Orbital
5,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Orbital
6,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Orbital
7,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Orbital
8,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Orbital
9,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Orbital
10,Mercury,USA,McDonnell AircraftNorth American Aviation,LEOattained,Redstone MRLVAtlas LV-3B,1,3.34,1.89,NaN,Batteries,NaN,1961 (1960),1963,6(12)[note 1],Sub-Orbital
11,Gemini,USA,McDonnell AircraftMartin,LEO,Titan II GLVTitan IIIC[note 2],2,5.56,3.05,NaN,Fuel cells,NaN,1965 (1964),1966,10(2)[note 3],Sub-Orbital
12,Apollo,USA,North American AviationGrumman and Douglas,Lunar,Saturn IBSaturn V,3,8.5,3.91,"5,500 CM + 14,700 LM24,500 Service Module",Fuel cells,NaN,1967 (1966),1975,15(4)[note 3],Sub-Orbital
13,Space Shuttle orbiter,USA,United Space Alliance,LEO,Space Shuttle,8[note 4],37.24,4.8[note 5],109000,Fuel cells,"12,500/16,000",1981,2011,135[note 6],Sub-Orbital
14,Orion,USA,Lockheed MartinAstrium,Mars,Delta IV HeavySpace Launch System,6,3.3,5,"8,900 Capsule12,300 Service Module",Solar Panels,NaN,Planned: 2021 (2014),NaN,0 (1)[note 7],Sub-Orbital
15,Biconic Space Vehicle,USA,Blue Origin,LEO,New Glenn,NaN,NaN,NaN,NaN,NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
16,CST-100 Starliner,USA,Boeing,LEO,"multiple, initially Atlas V",7 [1],5.03 [2],4.56 [2],NaN,Solar panels,NaN,Planned: 2019,NaN,0,Sub-Orbital
17,Dream Chaser,USA,Sierra Nevada Corporation,LEO,"multiple, initially Atlas V",7 [3][4],9 [5],NaN,"11,300 [6]",NaN,NaN,Planned date not known,NaN,0,Sub-Orbital
18,Dragon 2,USA,SpaceX,LEO,Falcon 9,7[note 14],8.1[7],3.7[8],"12,055 kg(26,577 lb)[9]",Solar Panels,"3,307/2,507",Planned: 2019 (2019),Active,0(1),Sub-Orbital
19,Starship,USA,SpaceX,Solar System[10][note 15],BFR[10],100[note 16],55[10],9[10][note 17],"1,335,000[10]",Solar Panels,NaN,planned (2020) [10]planned 2023,NaN,0,Sub-Orbital

In [16]:
# Remove square bracketed notes from dataset
# for row in df3:
#     for each in row:
        
tester = "1961 (1960)"
tester.replace("[*]", "",regex=True)
tester

TypeError: replace() takes no keyword arguments

In [ ]:
# Remove parentheses notes/dates implying unmanned notes
test = ship_df.replace("(*)", "")
test